.accreditations{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 50px;
}
.accreditations h2{
    text-align: start;
    font-size: 52px;
    color: #2791E1;
}
.accreditations p {
    font-size: 22px;
    color: #333333;
}
.accreditations img{
    width: 210px;
    height: 105px;
}
.awards {
    display: flex;
    flex-direction: row;

}
.awards img{
    width: 200px;
    height: 61px;
    margin-right: 50px;
}
.accreditations hr {
    color: #444444;
}

