.activites-item{
    width:400px;
    height: 350px;
    background-color: #f5eded;
    margin-left: 30px;
}
.activites-item:hover{
    cursor: pointer;
}
.activites-item img{
    width: 400px;
    height: 225px;
}
.activites-item p {
    font-size: 16px;
}
.activites-item span {
    display: flex;
    flex-direction: row;
    align-items: center;
}