.admissions-item{
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 400px;
    position: relative;
    overflow: hidden;
}


    .admissions-item img{
        width: 185px;
        height: 208px;
         object-fit: cover; /* Ensures image maintains its aspect ratio */
    transition: transform 0.3s ease /* Smooth transition */
     
    }
    .admissions-item img:hover {
    transform: scale(1.04); /* Zoom into the image */
    transform-origin: center center; 
     
    
}
    .admissions-item h2{
        color: #3F4381;
        width: 187px;
        height: 34px;
        
    }
    .admissions-item p{
        font-size: 22px;
        width: 185px;
        height: 114px;
        
    }