.curriculum{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
   margin-left: 100px;
   margin-right: 100px;
   
}
.curriculum-upper{
    display: flex;
    flex-direction: column;
}
.curriculum-lower{
    display: flex;
    flex-direction: row;
    
}
.curriculum-upper h2{
    color: #002856;
    font-size: 52px;
    width: 1102px;
    height: 63px;
  
   text-align: center;
}
.curriculum-upper h3{
    color: #12336D;
    font-size: 37px;
}
.curriculum-upper p{
    color: #444444;
    font-size: 22px;
    
}