.our-school{
    display: flex;
    flex-direction: column;
    flex: 1;
   margin-left: 10%;
   margin-right: 10%;
   
}
.our-school-upper{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.our-school-upper-left{
    flex: 0.5;
    margin-right: 50px;
}
.our-school-upper-right{
    flex: 0.5;
}
 .our-school-upper-left h2{
    color: #2791E1;
    font-size: 52px;
    text-align: start;
}
.our-school-upper-left h3{
    color: #12336D;
    font-size: 27px;
}
.our-school p {
    font-size: 22px;
    color: #333333;
  
}
.our-school-upper-right{
    flex: 0.5;
}
.our-school-upper-right img{
    width: 466px;
    height: 600px;
    margin-top: 50px;
}