.related-pages-item{
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 450px;
    margin-left:20px;
    position: relative;
    overflow: hidden;

}
.related-pages-item img{
    width: 250px;
    height: 230px;
    object-fit: cover; /* Ensures image maintains its aspect ratio */
    transition: transform 0.3s ease /* Smooth transition */
    
}
.related-pages-item img:hover {
    transform: scale(1.04); /* Zoom into the image */
    transform-origin: center center;
}
.related-pages-item p {
    font-size: 19px;
}
.related-pages-item h3{
    color: #3F4381;
    font-size: 22px;
}