.teams{
    width: 264px;
    height: 421px;
    margin-right: 20px;
    
}
.teams img{
    width: 264px;
    height: 298px;
}
.teams h2{
    width: 264px;
    height: 69px;
    font-size: 24px;
    color: #3F4381;
}