.welcome-message{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex: 1;
    background-color: #EAE3DC;
    width: 100%;
    margin-top: 150px;
    height: 140vh;
    padding-left: 20px;
    padding-right: 20px;

}
.welcome-message-left{
    display: flex;
    flex-direction: column;
    flex: 0.6;
    margin-top: 60px;
    margin-left: 30px;

}
.welcome-message-right{
    display: flex;
    flex: 0.4;
    margin-left: 100px;
    margin-top: 60px;
}
.welcome-message-right img{
    width: 400px;
    height: 550px;
    margin-top: 30px;
}
.welcome-message-left h2{
    color: #005480;
    font-size: 35px;
    margin-bottom: 20px;
}
.welcome-message-left h3{
    color: #2791E1;
    font-size: 35px;
}
.welcome-message-left span{
    font-size: 22px;
    font-weight: bolder;
}
.welcome-message-left p {
    font-size: 24px;
}
.welcome-message-left button {
    height: 54px !important;
    width: 192px !important;
    border-radius: 25px !important;
    background-color: #892282 !important;
    margin-top: 20px !important;
}
.welcome-message-left button:hover{
    cursor: pointer;
    color: #892282 !important;
    background-color: white !important;}