.why-GISC{
    display: flex;
    flex-direction: row;
    background-color: #EAE3DC;
    height: 110vh;
    
    margin-top: 0;
}
.why-GISC-left{
    display: flex;
    flex-direction: column;
    flex: 0.6;
    margin-left: 30px;
    font-size: 24px;
    padding-left: 30px;

}
.why-GISC-right{
    display: flex;
    flex: 0.4;
    margin-left: 70px;
}
.why-GISC-right img{
    width: 400px;
    height: 430px;
    margin-top: 50px;
}
.why-GISC-left h3{
    color: #005480;
    font-size: 40px;
    margin-bottom: 10px;
}
.why-GISC-left button {
    height: 54px !important;
    width: 220px !important;
    border-radius: 25px !important;
    background-color: #892282 !important;
    color: white !important;
    margin-top: 30px !important;
}
.why-GISC-left button:hover{
    cursor: pointer;
    color: #892282 !important;
    background-color: white !important;}